html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem; }
.ui {
  color: blue;
  margin: 20px 0;
}
.center {
    text-align: center;
}
.button {
    color-rendering: auto;
}
.grey {
    color: grey;
}